@use "@styles/variables.scss" as vars;

.button {
    &_size_logo {
        &_sm {
            // padding: vars.$button-padding-sm;
            width: vars.$button-size-sm;
            height: vars.$button-size-sm;
        }
        &_lg {
            // padding: vars.$button-padding-lg;
            width: vars.$button-size-lg;
            height: vars.$button-size-lg;
        }
        &_md {
            width: vars.$button-size-md;
            height: vars.$button-size-md;
        }
    }

    &_size {
        &_sm {
            padding: vars.$button-padding-sm;
            border-radius: vars.$button-border-radius-sm;
        }
        &_lg {
            padding: vars.$button-padding-lg;
        }
        &_md {
            padding: vars.$button-padding-md;
        }
    }
}