$button-font-family-main: Verdana, Geneva, Tahoma, sans-serif;


$navbar-height: 60px;
$navbar-backgroung-color: white;
$navbar-border-color: black;

$button-size-sm: 30px;
$button-size-md: 60px;
$button-size-lg: 90px;

$button-padding-sm: 9px 15px;
$button-border-radius-sm: 5px;
$button-padding-md: 20px;
$button-padding-lg: 30px;



