$button-font-family-main: Verdana, Geneva, Tahoma, sans-serif;
$navbar-height: 60px;

$button-padding-sm: 30px;
$button-padding-md: 60px;
$button-padding-lg: 90px;

$button-correct: #00ff00;
$button-incorrect: #ff0000;